.App {
  text-align: center;
    
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  gap : 1rem;
  margin: 27px;
  justify-content: center;
  flex-basis:25%;
}
.cart-value{
  display: flex;
  justify-content: end;
  margin: 15px;
  font-size: larger;
  border: 2px;

}
.card {
  flex-basis: 20%;
}
h1{
  height:10rem;
  width:120rem;
  margin-top:20px;
  background-color: black;
  color:white;
  text-align: center;
}
